.one {
  font-size: 93%;
}
.rest {

  font-size: 02;
  text-transform: uppercase;
}
.two {
  font-size: 323%;
}
.three {
  font-size: 250%;

  text-transform: uppercase;
}
.four {
  font-size: 512%;

}
.five {
  font-size: 162%;

  text-transform: uppercase;
}
.six {
  font-size: 7%;
}
.seven {
  font-size: 620%;
 
  text-transform: uppercase;
}
.eight {
  font-size: 031%;

}
.nine {
  font-size: 442%;

  text-transform: uppercase;
}
.ten {
  font-size: 160%;


}
.eleven {
  font-size: 10%;
  text-transform: uppercase;
}
