.one {
font-family: Arial, Helvetica, sans-serif;
}

.main {
 font-family: "Arial Black", Gadget, sans-serif;

}

.two {
 font-family: Verdana, Geneva, sans-serif;
}

 .three {
 font-family: Impact, Charcoal, sans-serif;
   }

 .four {
 font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
   }

.five {
 font-family:Tahoma, Geneva, sans-serif;
   }

.six {
 font-family:"Trebuchet MS", Helvetica, sans-serif;
   }

.seven {
 font-family:"Courier New", Courier, monospace;
   }

.eight {
 font-family:"Lucida Console", Monaco, monospace;
   }


.ten {
 font-family:"Trebuchet MS", Helvetica, sans-serif;
   }


.eleven {
 font-family:"Comic Sans MS", cursive, sans-serif
   }