.one {
	letter-spacing: -10px;
	font-size: 50px;
position: absolute;
}

.uy {
	letter-spacing: 10px;
	font-size: 80px;
	position: absolute;
}
.BEE{
	letter-spacing: 50px;
	font-size: 120px;
	position: absolute;
	left: 25%;
}